<form class="loginForm">
    <div>
        <label for="emailLogin">Email:</label>
        <input type="text" id="emailLogin">
    </div>
    <div>
        <label for="passwordLogin">Password:</label>
        <input type="password" id="passwordLogin">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <div class="signUp">
        Don't have an account yet? Don't worry, <a href="/views/signup.handlebars">sign up now.</a>
    </div>
    <script src="/public/js/login.js"></script>
</form>