<section>
    <h2>Create New Blog Post</h2>
    <form class="newPostForm">
        <div>
            <label for="newPostTitle">Title</label>
            <input type="text" id="newPostTitle" size="75" name="newPostTitle">
        </div>
        <div>
            <label for="postContent">Text Area</label>
            <textarea name="postText"></textarea>
        </div>
        <button type="submit" class="button">Create Blog Post</button>
    </form>
</section>
<script src="/public/js/addpost.js"></script>