<form class="signUpForm">
    <div>
        <label for="userSignUp">Username:</label>
        <input type="text" id="userSignUp">
    </div>
    <div>
        <label for="emailSignUp">Email:</label>
        <input type="text" id="emailSignUp">
    </div>
    <div>
        <label for="passwordSign">Password:</label>
        <input type="password" id="passwordSign">
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
<script src="/public/js/signup.js"></script>